.button-primary {
    background-color: #00bcd4;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-primary:hover {
    background-color: #008c99;
  }
  
  .button-danger {
    background-color: #f44336;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-danger:hover {
    background-color: #d32f2f;
  }