header {
  background-color: #000;
  color: #f0f0f0;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px; /* Fixes header height */
  box-sizing: border-box; /* Ensures padding is included in the height */
}

header .logo {
  padding-left: 10px;
  margin-left: 20px;
  max-height: 100%; /* Ensures the logo fits within the header's height */
  height: 40px; /* Set a specific height for the logo */
  width: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensures the logo fits nicely within its container */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px; /* Adds spacing between nav links */
}

header nav a {
  color: #f0f0f0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s; /* Smooth hover effect */
}

header nav a:hover {
  background-color: #00bcd4;
  color: #222;
  border-radius: 5px;
}
